@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700;800&family=Poppins:wght@400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Manrope";
}

body {
  overflow: hidden;
  min-height: 100vh;
  width: 100%;
  background-image: url("/assets/img/Crystal\ Background\ By\ Sato.png");
  background-size: cover;
}

/* CONTENT */
.content-container {
  max-width: 100% !important;
  height: 100%;
}

.content-about {
  margin-top: 60px;
  margin-left: 25%;
  max-height: 50vh;
}

.content-about.bawah {
  margin-top: 8%;
}

h3.sub-title {
  font-weight: 500;
  font-size: 24px;
  color: #000000cc;
}

h1.title {
  font-weight: 800;
  color: #000000cc;
  font-size: 50px;
}

.title span {
  color: #000000;
}
.sub-title span {
  color: #000000;
  font-weight: 700;
}

p.content-text {
  max-width: 600px;
  text-align: left;
  font-size: 16px;
  font-weight: 400;
  color: #808080;
}
p.location-text {
  color: #000;
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 0;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

button.contact-me {
  width: 150px;
  height: 45px;
  background: #000;
  border-radius: 6px;
  color: #fff;
  font-size: 28px;
  cursor: pointer;
}

.contact-me a {
  color: #ffffff;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  text-decoration: none;
}

.contact-me p {
  font-size: 16px;
  margin-bottom: 0;
  font-weight: 600;
}

h2.title {
  color: #000000cc;
  font-size: 36px;
  font-weight: 700;
}

.content-charas {
  width: 500px;
}

.fig h2 {
  font-size: 24px;
  font-weight: 400;
  text-align: center;
}

.hero img {
  position: absolute;
  right: 0px;
  bottom: 0px;
  height: 100vh;
  user-select: none;
}

.hero-mobile {
  display: none;
}

.content-bawah-mobile {
  display: none;
}

@media screen and (max-width: 1280px) {
  .content-about {
    margin-left: 20%;
  }

  h3.sub-title {
    font-size: 22px;
  }

  h1.title {
    font-size: 42px;
    max-width: 70%;
  }

  p.content-text {
    font-size: 14px;
    max-width: 60%;
  }

  .content-loc {
    max-width: 60%;
  }

  .content-charas {
    width: 50%;
  }
}
@media screen and (max-width: 1024px) {
  .content-about {
    margin-left: 15%;
  }
  .fig img {
    max-width: 80%;
    max-height: 80%;
  }
}

@media screen and (max-width: 768px) {
  body {
    overflow: visible !important;
    height: 100%;
  }

  .content-main-about {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    align-items: center;
    height: 0;
  }

  .content-loc {
    display: flex;
    flex-direction: column;
  }

  p.content-text {
    text-align: center !important;
  }

  h3.sub-title {
    width: 100%;
    text-align: center;
  }

  h1.title {
    max-width: 100%;
    text-align: center;
  }

  .hero {
    display: none;
  }

  .hero-mobile {
    display: flex;
    height: 60vh;
    -webkit-mask-image: linear-gradient(rgba(0, 0, 0, 1) 90%, rgba(0, 0, 0, 0));
    mask-image: linear-gradient(rgba(0, 0, 0, 1) 90%, rgba(0, 0, 0, 0));
  }

  .bawah {
    position: relative;
    top: 1080px;
  }

  .content-charas {
    width: 100%;
  }

  h2.title {
    font-size: 32px;
    max-width: 92%;
    text-align: center;
  }

  .fig h2 {
    font-size: 20px;
    max-width: 80%;
  }
}

@media screen and (max-width: 768px) {
  .content-bawah-mobile {
    display: block;
    margin-top: 8%;
    padding-bottom: 15%;
  }

  .bawah {
    display: none !important;
  }
}
