@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700;800&family=Poppins:wght@400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Manrope";
}

body {
  overflow: hidden;
  min-height: 100vh;
  width: 100%;
}

table.sidebar-content {
  height: 100%;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 320px;
  background: #000;
  padding: 6px 14px;
}

.sidebar .sidebar-content .logo {
  color: #fff;
  display: flex;
  height: 250px;
  width: 300px;
  align-items: center;
  justify-content: center;
}

.sidebar .sidebar-content ul {
  margin-top: 20px;
}

.sidebar ul li {
  position: relative;
  height: 50px;
  width: 100%;
  margin: 0 5px;
  list-style: none;
  font-weight: 600;
  font-size: 20px;
}

.sidebar ul li a {
  color: #ffffffcc;
  display: flex;
  align-items: center;
  text-decoration: none;
}

.sidebar ul li a:hover {
  font-weight: 700;
}

.sidebar .sidebar-content .social {
  display: flex;
  margin-left: 15px;
  margin-bottom: 40px;
  width: 250px;
  justify-content: space-evenly;
}

/* END SIDEBAR */

/* CONTENT */
.content-container {
  max-width: 100%;
  min-height: 100vh;
}

.content {
  margin-top: 60px;
  margin-left: 23%;
  height: 700px;
}

.content-title h1.title {
  color: #000;
  font-weight: 700;
  font-size: 32px;
  margin-bottom: 30px;
}

.content-main {
  max-width: 1120px;
  height: 700px;
}

.content-projects.top img {
  max-width: 325px;
}

.content-projects.bot img {
  max-width: 325px;
}
