@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700;800&family=Poppins:wght@400;500;600&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Manrope";
}

body {
  overflow: hidden;
  min-height: 100vh;
  width: 100%;
}

table.sidebar-content {
  height: 100%;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  max-width: 320px !important ;
  background: #000;
  padding: 6px 14px;
}

.logo {
  color: #fff;
  display: flex;
  height: 250px;
  width: 300px;
  align-items: center;
  justify-content: center;
}

.sidebar .sidebar-content ul {
  margin-top: 20px;
}

.sidebar ul li {
  position: relative;
  height: 50px;
  width: 100%;
  margin: 0 5px;
  list-style: none;
  font-weight: 600;
  font-size: 20px;
}

.sidebar ul li a {
  color: #ffffff;
  opacity: 0.8;
  display: flex;
  align-items: center;
  text-decoration: none;
}

.active {
  font-weight: 700;
  opacity: 1;
}

.social {
  display: flex;
  margin-left: 15px;
  margin-bottom: 40px;
  width: 250px;
  justify-content: space-evenly;
}

.social img {
  max-width: 40px;
  max-height: 40px;
}

/* END SIDEBAR */
